<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
  Tóm tắt hóa đơn
</div>
<div class="p-4">
  <p class="font-italic mb-4">
    Phí giao hàng sẽ được thêm tùy theo lựa chọn của khách hàng trong phần
    checkout
  </p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Giao hàng và xử lý</strong>
      <strong>{{shippingPrice | currency: 'VND'}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Tổng giá trị mặt hàng</strong>
      <strong>{{subtotal | currency: 'VND'}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted"> Tổng cộng</strong>
      <strong>{{total | currency: 'VND'}}</strong>
    </li>
  </ul>
</div>
