<div class="mt-4" [formGroup]="checkoutForm">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Thông tin người mua</h4>
    <button
      (click)="saveUserAddress()"
      class="btn btn-outline-success mb-3"
      [disabled]="
        !checkoutForm.get('addressForm').valid ||
        !checkoutForm.get('addressForm').dirty
      "
    >
      Đặt làm thông tin mặc định
    </button>
  </div>
  <div class="row" formGroupName="addressForm">
    <div class="form-group col-6">
      <app-text-input
        [label]="'Họ Tên'"
        formControlName="hoTen"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input
        [label]="'Số điện thoại'"
        formControlName="sdt"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input
        [label]="'Email'"
        formControlName="email"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input
        [label]="'CCCD/CMND/PASSPORT'"
        formControlName="cccd"
      ></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input
        [label]="'Địa chỉ'"
        formControlName="diaChi"
      ></app-text-input>
    </div>
    <!--<div class="form-group col-6">
      <app-text-input
        [label]="'Tỉnh thành nơi tiêm'"
        formControlName="tinhThanhTiem"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input
        [label]="'Chi nhánh nơi tiêm'"
        formControlName="chiNhanhTiem"
      ></app-text-input>
    </div>-->
    <div class="form-group col-6">
      <label>Tỉnh thành nơi tiêm</label>
      <br />
      <select formControlName="tinhThanhTiem">
        <!--<option>Chọn tỉnh thành</option>-->
        <option *ngFor="let tt of tinhThanhList" value="{{ tt.id }}">
          {{ tt.tenTinhThanh }}
        </option>
      </select>
    </div>
    <div class="form-group col-6">
      <label>Chi nhánh tiêm</label>
      <br />
      <select formControlName="chiNhanhTiem">
        <!--<option>Chọn tỉnh thành</option>-->
        <option *ngFor="let cn of chiNhanhList" value="{{ cn.id }}">
          {{ cn.tenChiNhanh }} ({{ cn.tenTinhThanh }})
        </option>
      </select>
    </div>

    <!--
    <div class="form-group col-6">
      <app-text-input
        [label]="'Zip code'"
        formControlName="zipCode"
      ></app-text-input>
    </div>
  --></div>
</div>

<div
  class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5"
>
  <button class="btn btn-outline-primary" routerLink="/basket">
    <i class="fa fa-angle-left"></i> Trở về giỏ hàng
  </button>
  <button
    [disabled]="checkoutForm.get('addressForm').invalid"
    class="btn btn-primary"
    cdkStepperNext
  >
    Tới tổng kết <i class="fa fa-angle-right"></i>
  </button>
</div>
