<div class="container mt-2">
  <div class="row" *ngIf="product">
    <div class="col-6">
      <img
        src="{{ product.hinhAnh }}"
        alt="{{ product.ten }}"
        class="img-fluid w-100"
      />
    </div>
    <div class="col-6">
      <h3>{{ product.ten }}</h3>
      <p style="font-size: 2em">{{ product.gia | currency: "VND" }}</p>
      <p></p>
      <!--Đơn vị tính chưa thêm-->
      <div class="d-flex justify-content-start align-items-center">
        <i
          (click)="decrementQuantity()"
          class="fa fa-minus-circle text-warning mr-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <span class="font-weight-bold" style="font-size: 1.5em">{{
          quantity
        }}</span>
        <!--Thiếu số lượng gói-->
        <i
          (click)="incrementQuantity()"
          class="fa fa-plus-circle text-warning mx-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <button
          (click)="addItemToBasket()"
          class="btn btn-outline-primary btn-lg ml-4"
        >
          Thêm vào giỏ hàng
        </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 ml-3">
        <!--Mô tả sản phẩm chưa thêm-->
        <h4>Thông tin mô tả</h4>
        <script
          type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"
        >
          var app = angular.module("app", []);
          app.controller("ctrl", function($scope, $sce){
            $scope.contnt = $sce.trustAsHtml(product.moTaThongTin);
          });
        </script>
        <script
          type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"
        ></script>
        <div ng-app="app" ng-controller="ctrl">
          <p ng-bind-html="contnt"></p>
        </div>
        <div [innerHtml]="product.moTaThongTin"></div>
        <!--<p>{{ product.moTaThongTin }}</p>-->
        <h4>Tổng số liều tiêm</h4>
        <p>{{ product.tongSoLieu }}</p>
      </div>
    </div>
  </div>
</div>
