<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <!--Logo thương hiệu-->
  <img
    src="/assets/images/logo.png"
    style="max-height: 70px"
    alt="logo"
    routerLink="/"
    class="logo"
  />
  <nav class="my-2 my-md-0 mr-md-3" style="font-size: larger">
    <a
      class="p-2"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Trang chủ</a
    >
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Cửa hàng</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Lỗi</a>
  </nav>
  <!--Class để chứa button-->
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <!--icon giỏ hàng margin right =5, kiểu text-màu đen(dark)-->
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <!--Số trên giỏ hảng auto 5-->
      <div *ngIf="basket$ | async as basket" class="cart-no">
        {{ basket.items.length }}
      </div>
    </a>
    <!--Nút đăng nhập, margin right = 2-->
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a
        routerLink="/account/login"
        class="btn btn-outline-secondary mr-2"
        href="#"
        >Đăng nhập</a
      >
      <a
        routerLink="/account/register"
        class="btn btn-outline-secondary mr-3"
        href="#"
        >Đăng ký</a
      >
    </ng-container>
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Chào mừng {{ (currentUser$ | async).displayName }}!</strong>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          style="cursor: pointer"
          *dropdownMenu
        >
          <a
            routerLink="/basket"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-shopping-cart mr-3"></i> Xem giỏ hàng
          </a>
          <a
            routerLink="/orders"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-history mr-3"></i> Xem đơn hàng
          </a>
          <div class="dropdown-divider"></div>
          <a
            (click)="logout()"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-sign-out mr-3"></i> Đăng xuất
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
